n8n_workflow_web.json
{
  "name": "B2B Email Automation",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 1,
              "unit": "hours"
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// This is where you'll paste the JSON data from your Streamlit export\nconst data = {\n  company_data: {\n    company_name: \"Example Corp\",\n    head_name: \"John Doe\",\n    head_email: \"john@example.com\",\n    website: \"https://example.com\",\n    linkedin_url: \"https://linkedin.com/in/johndoe\"\n  },\n  cold_email: \"Your generated email content here\",\n  timestamp: new Date().toISOString()\n};\n\n// Prepare email data\nconst emailData = {\n  to: data.company_data.head_email,\n  subject: `Reaching out to ${data.company_data.company_name}`,\n  body: data.cold_email,\n  company: data.company_data.company_name,\n  timestamp: data.timestamp\n};\n\nreturn {json: emailData};"
      },
      "name": "Process Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "{{$env.EMAIL_FROM}}",
        "toEmail": "={{$json.to}}",
        "subject": "={{$json.subject}}",
        "text": "={{$json.body}}",
        "options": {}
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Data": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
} 