n8n_workflow.json
{
  "name": "B2B Email Automation",
  "nodes": [
    {
      "parameters": {
        "path": "watch-folder",
        "options": {
          "filePattern": "n8n_export_*.json"
        }
      },
      "name": "Watch Folder",
      "type": "n8n-nodes-base.watchFolder",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Parse the JSON file\nconst data = JSON.parse($input.item.json);\n\n// Prepare email data\nconst emailData = {\n  to: data.company_data.head_email,\n  subject: `Reaching out to ${data.company_data.company_name}`,\n  body: data.cold_email,\n  company: data.company_data.company_name,\n  timestamp: data.timestamp\n};\n\nreturn {json: emailData};"
      },
      "name": "Process Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "{{$env.EMAIL_FROM}}",
        "toEmail": "={{$json.to}}",
        "subject": "={{$json.subject}}",
        "text": "={{$json.body}}",
        "options": {}
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "document": {
          "company": "={{$json.company}}",
          "email": "={{$json.body}}",
          "timestamp": "={{$json.timestamp}}",
          "status": "sent"
        }
      },
      "name": "Save to Database",
      "type": "n8n-nodes-base.mongodb",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    }
  ],
  "connections": {
    "Watch Folder": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Data": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Save to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}